<script src="//cdnjs.cloudflare.com/ajax/libs/pusher/1.12.5/pusher.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
<script>
$.fn.spin = function(opts) {
  this.each(function() {
    var $this = $(this),
        data = $this.data();

    if (data.spinner) {
      data.spinner.stop();
      delete data.spinner;
    }
    if (opts !== false) {
      data.spinner = new Spinner($.extend({color: $this.css('color')}, opts)).spin(this);
    }
  });
  return this;
};
</script>

<h1 id="msg">Connecting to negotiator...</h1>
<div id="spinner"></div>

<script>
$("#spinner").spin({
  length: 30, // The length of each line
  width: 5, // The line thickness
});

// Pusher.channel_auth_transport = 'jsonp';
Pusher.channel_auth_endpoint = '/interviews/auth';
var pusher = new Pusher('fa0830a623dad399d7f6');
var channel = pusher.subscribe("private-interview<%= @interview_id %>");
channel.bind("pusher:subscription_succeeded", function() {
    $("#msg").text("Finding partner...");
});
channel.bind('pusher:subscription_error', function() {
    $("#msg").text("Failed to connect :(");
    $("#spinner").spin(false);
});
channel.bind("message", function(data) {
    window.location = "/interviews/<%= @interview_id %>";
});
</script>